/*footer*/
footer {
    font-size: 15px;
    padding: 25px;
    text-align: center;

}

#planoanual {
    padding-left: 40px;
}

#planomen {
    padding-left: 40px;
}

#planofree {
    padding-left: 40px;

}