/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

body {
  background-color: #fafff7 !important;
}

.botaoMenu {
  border-radius: 50%;
}

.App {

  margin-left: 0px;
  background-color: #fafff7 !important;
}

.list-group-item {
  border: 1px solid black;
  margin: 3px;
  background-color: #fafff7;
}

.ListaLembretes h2 {
  color: rgb(1, 146, 1);
  margin: 3px;
}

.ListaLembretes {
  margin-left: 100px;
  margin-top: 100px;
  background-color: #fafff7;
}


.list-group {
  border: 2px solid rgb(117, 224, 117);
  width: 200px;
}

.botaoMenu button.btn.btn-primary {
  background: transparent;
  border: none;
}

button.me-2.btn.btn-primary {
  height: 50px;
  background: transparent;
  border: none;
}

.button-plus {
  position: fixed;
  bottom: 35px;
  left: 30px;
}

.modal-content {
  position: fixed !important;
  bottom: 120px;
  left: 10px;
  width: 200px !important;
  background-color: #fafff7 !important;
}

.bg-body-tertiary :hover {
  color: rgb(117, 224, 117) !important;
  transition: all;
}

.navbar-brand {
  font-size: medium !important;
  background-color: #fafff7 !important;
}

.container {
  width: 70% !important;
  background-color: #fafff7 !important;
}

.calendar {
  margin-left: 0;
  background-color: #fafff7;
}

* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
  border: none;
  color: black;
}

body {
  background-color: #fafff7 !important;
}

#main-container {
  width: 500px;
  background-color: rgb(156, 255, 156);
  border-radius: 10px;
  padding: 25px;
  margin-left: 0;
  margin-right: auto;
}

#main-container h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}

.menu {
  background-color: rgb(251, 252, 255);
  display: flex;
  align-items: center;
}

.nome2 {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

span {
  color: green;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

input,
label,
select {
  display: block;
  outline: none;
  width: 100%;
}

label {
  font-weight: bold;
}

input {
  border-bottom: 2px solid rgb(93, 194, 97);
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
}

select {
  border-bottom: 2px solid rgb(93, 194, 97);
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
}

input:focus {
  border-color: rgb(30, 160, 30);
}

input[type="submit"] {
  background-color: #3bab35;
  color: #FFF;
  border: none;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

input[type="button"] {
  background-color: #3bab35;
  color: #FFF;
  border: none;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

#even {
  color: red;
}

#appo {

  color: rgb(255, 121, 5);
}

#stud {
  color: rgb(197, 197, 3);
}

#prof {
  color: rgb(3, 147, 3);
}

#task {
  color: rgb(0, 89, 255);
}

.add {
  border-radius: 50%;
  background-color: rgb(3, 147, 3);
  margin: 30px;
  text-align: left;
  justify-content: space-around;
}

.add option {
  font-size: 60px;
  color: white;
}

.LogoPrin {
  width: 1500px;
  height: 70px;
  border: none;
}

.perfil img {
  height: 50px;
  width: 50px;
}

.perfil {
  display: flex;
  margin-left: 20px;
  width: 150px;
  text-align: center;
  align-items: center;
}

.perfil p {
  margin-top: 15px;
}

.imgLogo {
  margin-left: 0;
  display: flex;
}

.imgLogo h1 {
  margin-top: 15px;
}

.suporte p {
  margin-top: 12px;
  margin-left: 950px;
}

header {
  height: 70px;
  width: 100%;
}

.flex {
  display: flex;
}

.menu {
  background-color: rgb(251, 252, 255);
}

* {
  background-color: #fafff7;
}

.navbar-toggler-icon {
  background-image: url("https://cdn-icons-png.flaticon.com/512/3985/3985429.png") !important;
}

.offcanvas-header {
  background-color: #e9ffdd;
}

.offcanvas-body {
  background-color: #e9ffdd;

}

.justify-content-end.flex-grow-1.pe-3.navbar-nav {
  background-color: #e9ffdd;
}

form.d-flex {
  background-color: #e9ffdd;
}

button.btn.btn-outline-success {
  color: rgb(93, 194, 97) !important;

}
  display: flex;
  border-bottom: 2px solid rgb(117, 224, 117);
  padding: 3em 0em 0em;
}


.fundo {
  background-image: none;
}

body {
  background-color: rgb(251, 252, 25);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  border-bottom: 1px solid rgb(117, 224, 117);

}


span {
  color: rgb(1, 146, 1);

}


.principal {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 40px;
  padding-left: 40px;
  margin-top: 50px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nome {
  color: black;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

span {
  color: rgb(21, 88, 21);
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.image {
  margin: 15px;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  background-color: rgb(71, 172, 71);
  align-items: center;
  padding: 0;
}

.menu {
  list-style: none;
  float: right;
  padding-left: 800px;

}

.menu li {
  position: relative;
  float: left;
  justify-content: space-around;
  margin: 0 10px;
  padding: 0 10px;
  text-decoration: none;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: all ease .4s;
}

.menu li ul {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: white;
  display: none;
}

.menu li:hover ul,
.menu li.over ul {
  display: block;
  
}

.menu li ul li {
 
  display: block;
  width: 150px;
}

.menu a:hover {
  color: rgb(117, 224, 117);
}

a {
  color: rgb(1, 146, 1);
  text-decoration: none;
  
}


.lista {
  margin-top: 40px;
}

#oquesomos {
  padding-bottom: 55px;
  margin-left: 70px;
  margin-right: 70px;
}

.oquesomos {
  padding: 20px;
  border-radius: 5px;
  font-size: 21px;
  margin-right: 50px;
  border: 2px solid rgb(117, 224, 117);
  padding-top: 45px;
  margin-top: 50px;
  margin-left: 150px;
 
}

.oqueoferecemos {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  height: 380px;
  border: 2px solid rgb(117, 224, 117);
  margin-top: 70px;
  padding: 35px;


}


.oqs {
  color: rgb(1, 146, 1);
  text-align: center;
  margin-top: 10px;
}

.oqo {
  color: rgb(1, 146, 1);
  margin-top: 20px;
}

li {
  list-style-type: none;
}

#oqueoferecemos {
  padding: 40px;
  padding-top: 10px;
  margin-left: 70px;
  margin-right: 70px;
}

.po {
  margin: 80px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 35px;
}

.gratis {
  margin-top: 0px;
  padding-left: 140px;
}

.trintadias {
  margin-top: 0px;
  padding-left: 140px;
}

.trezentos {
  margin-top: 0px;
  padding-left: 140px;


}

.planofree {
  border: 2px solid rgb(117, 224, 117);
  border-radius: 5px;
  font-size: 18px;
  width: 300px;
  height: 300px;
  background-color: rgb(250, 255, 247);
  color: black;
  text-align: center;
  margin-left: 110px;
  padding-right: 30px;
  padding-top: 40px;

}

.classfree {
  padding-top: 30px;
  padding-bottom: 30px;
 
  margin-right: 70px;
  align-items: center;
}

.classmensal {
  padding-top: 30px;
  padding-bottom: 30px;
 
  margin-right: 70px;
  align-items: center;
}

.classanual {
  padding-top: 30px;
  padding-bottom: 30px;
 
  margin-right: 70px;
  align-items: center;

}

.planomensal {
  border: 2px solid rgb(117, 224, 117);
  border-radius: 5px;
  font-size: 18px;
  width: 300px;
  height: 450px;
  background-color: rgb(250, 255, 247);
  color: black;
  text-align: center;
  margin-left: 150px;
  padding-right: 30px;
  padding-top: 40px;
}

.planoanual {
  border: 2px solid rgb(117, 224, 117);
  border-radius: 5px;
  font-size: 18px;
  width: 300px;
  height: 468px;
  background-color: rgb(250, 255, 247);
  color: black;
  text-align: center;
  margin-left: 150px;
  padding-right: 30px;
  padding-top: 40px;
}


#pm {
  margin-top: 3px;
  margin-left: 35px;
}

#pa {
  margin-top: 1px;
  margin-left: 35px;

}


.planom {
  margin-left: 30px;
  font-size: 27px;
  color: rgb(1, 146, 1);
}

#planos {
  border-bottom: 1px solid rgb(117, 224, 117);
  padding: 40px;
  display: block;
}


.submit_btn {
  float: left;
  display: block;
  padding: 5px 20px;
  border: none rgb(161, 161, 161);
  outline: none;
  background-color: rgb(226, 226, 226);
  color: rgb(117, 224, 117);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  border-radius: 6px;
  margin: 15px auto;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 100px;
  text-decoration: none;
  text-decoration: rgb(117, 224, 117);

}

.submit_btn:hover {
  background-color: rgb(220, 219, 219);
  color: rgb(117, 224, 117);
  transform: scale(1.03);
}


.calendario {
  margin-top: 60px;
  border-radius: 5px;
}


#oqueoferecemos {
  justify-content: space-around;

}


.prod {
  text-align: center;
  margin-top: 50px;
}

footer {
  font-size: 15px;
  text-align: center;
}

#planoanual {
  padding-left: 40px;
}

#planomen {
  padding-left: 40px;
}

#planofree {
  padding-left: 40px;

}


*/
